.dashboard {
  .status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #e43;
    color: #ffffff;

    .status-title {
      flex: 1;
      font-size: 2em;
      text-align: center;
      font-weight: bold;
      padding: 0.28em 0;
    }

    .status-actions {
      flex: 1;
      padding: 1em;
      text-align: center;
      margin-top: 0.5em;

      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.25em;
      }
      .status-action {
        background-color: #dc2512;
        padding: 0.75em 1em;

        i {
          padding-right: 0.5em;
        }

        &:hover, &:focus {
          background-color: #C42110;
        }
      }
    }
  }

  .checks {
    .filters {
      display: flex;
      flex-direction: column;
      padding: 1em 1em 0.5em 1em;

      .search {
        flex: 1;
        display: flex;
        align-items: center;
        padding-bottom: 0.5em;
        color: #bbb;

        i {
          width: 1em;
          padding-right: 0.5em;
        }

        input {
          flex: 1;
          border: none;
          background-color: transparent;
          padding: 0.5em;
          width: 100%;
        }
      }

      .sort {
        display: flex;
        align-items: center;
        color: #bbb;

        i {
          width: 1em;
          padding-right: 1em;
        }

        select {
          flex: 1;
          border: none;
          background-color: transparent;
          padding: 0.5em;
        }
      }
    }

    ul {
      border-width: 0 2px;
      border-style: solid;
      border-color: #ddd;
      padding: 0;
      margin: 0 1em;
      list-style-type: none;

      .check {
        background-color: white;
        border-bottom: 1px solid #ddd;
        padding: 1em;
        display: flex;
        flex-direction: column;

        .check-details {
          display: flex;
          flex: 1;
          align-items: center;
          padding-bottom: 0.5em;

          .check-disable {
            margin-left: -0.75em;

            i {
              padding: 0.5em;
              font-size: 1.5em;
              color: #bbb;
              cursor: pointer;
              border-radius: 50%;

              &.fa-toggle-off:hover {
                color: #55CC44;
                background-color: #eef9ec;
              }

              &.fa-toggle-on:hover {
                color: #e43;
                background-color: #FEECEB;
              }
            }
          }

          .url-details {
            display: flex;
            flex: 1;
            align-items: center;
            overflow: hidden;

            .protocol {
              color: #bbbbbb;
            }

            .split {
              color: #bbbbbb;
            }
          }
        }
        .check-actions {
          display: flex;
          align-items: center;

          .check-status {
            flex: 1;
            color: white;
            text-transform: uppercase;
            font-weight: bold;

            i {
              padding-right: 0.5em;
            }

            .check-status-disabled {
              color: #bbb;
            }

            .check-status-up {
              color: #55CC44;
            }

            .check-status-down {
              color: #e43;
            }
          }

          .actions {
            margin: -0.75em;
            padding-left: 1.25em;

            button {
              outline: none;
              border: none;
              background-color: transparent;
              cursor: pointer;
              font-size: 1.5em;
              color: #bbb;
              border-radius: 50%;
              padding: 0.5em;

              &:hover, &:focus {
                color: #555555;
                background-color: #eee;
              }
            }

            .delete {
              button {
                &:hover {
                  color: #e43;
                  background-color: #FEECEB;
                }
              }
            }
          }
        }
      }
    }

    .check-create {
      margin: 0 1em;
      padding: 1em;
      background-color: white;
      border-width: 0 2px 3px 2px;
      border-style: solid;
      border-color: #ddd;

      .check-details {
        display: flex;
        flex-direction: column;

        .url-details {
          display: flex;
          flex: 1;
          align-items: center;
          padding-bottom: 0.5em;

          i {
            padding-right: 0.5em;
          }

          select {
            border: none;
            background-color: transparent;
            direction: rtl;
          }

          .split {
            padding-right: 0.25em;
          }
          .url {
            display: flex;
            flex: 1;
            margin-left: -0.25em;

            input {
              flex: 1;
              width: 100%;
              border: none;
              background-color: transparent;
              padding: 0.5em;
            }
          }
        }

        .check-settings {
          display: flex;
          flex: 1;
          flex-direction: column;

          .options {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-bottom: 0.5em;

            .alias {
              display: flex;
              flex: 1;
              align-items: center;
              padding-bottom: 0.5em;

              i {
                padding-right: 0.5em;
              }

              input {
                flex: 1;
                border: none;
                background-color: transparent;
                padding: 0.5em;
                overflow: hidden;
              }
            }

            .interval {
              display: flex;
              align-items: center;

              i {
                padding-right: 0.5em;
              }

              label {
                color: #bbb;
              }

              select {
                width: 100%;
                border: none;
                background-color: transparent;
                padding: 0.5em;
              }
            }
          }

          .actions {
            margin: -0.5em -0.75em;

            button {
              outline: none;
              border: none;
              background-color: transparent;
              cursor: pointer;
              font-size: 1.5em;
              color: #bbb;
              border-radius: 50%;
              padding: 0.5em;

              &:hover, &:focus {
                color: #55CC44;
                background-color: #eef9ec;
              }
            }
          }
        }
      }

    }
  }
}

@media only screen and (min-width: 501px) {
  .dashboard {
    .status {
      flex-direction: row;

      .status-title {
        text-align: left;
        padding: 0.28em 0;
      }

      .status-actions {
        text-align: right;
        margin-top: 0;
        padding-right: 0;
      }
    }

    .checks {
      .filters {
        flex-direction: row;

        .search {
          padding-bottom: 0;
        }
      }

      ul {
        .check {
          flex-direction: row;
          align-items: center;

          .check-details {
            padding-bottom: 0;
          }

          .check-status {
            padding-bottom: 0;
          }
        }
      }

      .check-create {
        .check-details {
          .check-settings {
            .options {
              flex-direction: row;

              .alias {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 701px) {
  .dashboard {
    .checks {
      .check-create {
        .check-details {
          .check-settings {
            flex-direction: row;
            .options {
              padding-bottom: 0;
              padding-right: 1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1001px) {
  .dashboard {
    .checks {
      .check-create {
        .check-details {
          flex-direction: row;
          .url-details {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

