.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  background-color: #f9f9f9;
  padding-bottom: 2em;
}

.site-footer {
  background-color: #bbbbbb;
  text-align: center;
  padding: 3em;
  color: gray;
}