header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  background-color: #f9f9f9;

  a {
    color: #555555;
    text-decoration: none;
  }

  .header-title {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;

    a {
      display: flex;
      align-items: center;
    }

    i {
      padding-right: 0.25em;
    }

    .header-color {
      color: #55CC44;
    }
  }

  .header-actions {
    flex: 1;
    text-align: center;
    margin-bottom: 0.5em;

    a {
      color: #ffffff;
    }

    .header-action {
      background-color: #55CC44;
      padding: 0.75em 1em;
    }
  }

  .header-links {
    flex: 1;
    text-align: center;

    a {
      color: #e43;

      &:hover {
        color: #C42110;
      }
    }

    .header-link {
      margin-top: 0.5em;

      i {
        padding-left: 0.5em;
      }
    }
  }
}

@media only screen and (min-width: 701px) {
  header {
    flex-direction: row;
    .header-title {
      margin-bottom: 0;
      text-align: left;
    }

    .header-links {
      text-align: right;
    }
  }
}


