.landing {
  .features {
    background-color: #555555;
    color: #ffffff;
    padding: 1em;

    .features-title {
      text-transform: uppercase;
      padding: 1em 2em;
      font-size: 2em;
      text-align: center;
    }

    .feature {
      padding: 1em 2em;
      display: flex;
      align-items: flex-start;

      .feature-icon {
        margin-right: 1em;
        font-size: 2em;
      }

      .feature-details {
        flex: 1;

        .feature-title {
          text-transform: uppercase;
        }
      }
    }
  }

  .requests {
    background-color: #e43;
    padding: 2em;
    text-align: center;
    color: #ffffff;

    p {
      font-size: 1.5em;
    }

    i {
      font-size: 2.5em;
      margin-right: 0.5em;
    }

    span {
      font-size: 2em;
    }
  }

  .pricing {
    background-color: #ffffff;
    padding: 3em 2em;
    color: #666;

    p {
      text-align: center;
      font-size: 1.4em;
    }

    span {
      color: #ee4433;
    }
  }

  .trial {
    background-color: #55CC44;
    padding: 2em;
    color: #ffffff;
    text-align: center;
    font-size: 2em;

    p {
      color: #aae6a1;

      span {
        color: #ffffff;
      }

    }

    a {
      margin-left: 0.5em;
      padding: 0.5em 1em;
      background-color: #46C235;
      color: #ffffff;
      text-decoration: none;

    }
  }

  .quotes {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 3em 2em;

    p {
      font-size: 1.25em;
      font-style: italic;

      span {
        font-size: 0.5em;
        vertical-align: super;
        padding: 0.5em;
        color: #bbb;
      }
    }

    .source {
      font-size: 1em;
      color: #6e6e6e;
      padding-bottom: 2em;

      span {
        color: #e43;
      }
    }
  }
}
