@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?mhww49");
  src: url("../fonts/icomoon.eot?mhww49#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mhww49") format("truetype"), url("../fonts/icomoon.woff?mhww49") format("woff"), url("../fonts/icomoon.svg?mhww49#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-header:before {
  content: "\e900"; }

.icon-urlcheck:before {
  content: "\e90a"; }

.center {
  max-width: 50em;
  margin: 0 auto; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  background-color: #f9f9f9; }
  header a {
    color: #555555;
    text-decoration: none; }
  header .header-title {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em; }
    header .header-title a {
      display: flex;
      align-items: center; }
    header .header-title i {
      padding-right: 0.25em; }
    header .header-title .header-color {
      color: #55CC44; }
  header .header-actions {
    flex: 1;
    text-align: center;
    margin-bottom: 0.5em; }
    header .header-actions a {
      color: #ffffff; }
    header .header-actions .header-action {
      background-color: #55CC44;
      padding: 0.75em 1em; }
  header .header-links {
    flex: 1;
    text-align: center; }
    header .header-links a {
      color: #e43; }
      header .header-links a:hover {
        color: #C42110; }
    header .header-links .header-link {
      margin-top: 0.5em; }
      header .header-links .header-link i {
        padding-left: 0.5em; }

@media only screen and (min-width: 701px) {
  header {
    flex-direction: row; }
    header .header-title {
      margin-bottom: 0;
      text-align: left; }
    header .header-links {
      text-align: right; } }
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.site-content {
  flex: 1;
  background-color: #f9f9f9;
  padding-bottom: 2em; }

.site-footer {
  background-color: #bbbbbb;
  text-align: center;
  padding: 3em;
  color: gray; }

.landing .features {
  background-color: #555555;
  color: #ffffff;
  padding: 1em; }
  .landing .features .features-title {
    text-transform: uppercase;
    padding: 1em 2em;
    font-size: 2em;
    text-align: center; }
  .landing .features .feature {
    padding: 1em 2em;
    display: flex;
    align-items: flex-start; }
    .landing .features .feature .feature-icon {
      margin-right: 1em;
      font-size: 2em; }
    .landing .features .feature .feature-details {
      flex: 1; }
      .landing .features .feature .feature-details .feature-title {
        text-transform: uppercase; }
.landing .requests {
  background-color: #e43;
  padding: 2em;
  text-align: center;
  color: #ffffff; }
  .landing .requests p {
    font-size: 1.5em; }
  .landing .requests i {
    font-size: 2.5em;
    margin-right: 0.5em; }
  .landing .requests span {
    font-size: 2em; }
.landing .pricing {
  background-color: #ffffff;
  padding: 3em 2em;
  color: #666; }
  .landing .pricing p {
    text-align: center;
    font-size: 1.4em; }
  .landing .pricing span {
    color: #ee4433; }
.landing .trial {
  background-color: #55CC44;
  padding: 2em;
  color: #ffffff;
  text-align: center;
  font-size: 2em; }
  .landing .trial p {
    color: #aae6a1; }
    .landing .trial p span {
      color: #ffffff; }
  .landing .trial a {
    margin-left: 0.5em;
    padding: 0.5em 1em;
    background-color: #46C235;
    color: #ffffff;
    text-decoration: none; }
.landing .quotes {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 3em 2em; }
  .landing .quotes p {
    font-size: 1.25em;
    font-style: italic; }
    .landing .quotes p span {
      font-size: 0.5em;
      vertical-align: super;
      padding: 0.5em;
      color: #bbb; }
  .landing .quotes .source {
    font-size: 1em;
    color: #6e6e6e;
    padding-bottom: 2em; }
    .landing .quotes .source span {
      color: #e43; }

.login {
  max-width: 26em;
  margin: 0 auto;
  color: #666666; }
  .login .social-login .social-login-actions {
    display: flex; }
    .login .social-login .social-login-actions a {
      margin: 1em 0;
      align-self: center;
      padding: 0.75em 1em;
      text-align: center;
      background-color: #e0e0e0;
      flex: 1;
      color: #888888;
      font-size: 1.25em;
      text-decoration: none; }
      .login .social-login .social-login-actions a i {
        font-size: 1.5em;
        vertical-align: middle; }
      .login .social-login .social-login-actions a + a {
        border-left: 2px solid #ffffff; }
  .login .social-login .social-or {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: #dddddd;
    height: 2px;
    font-weight: normal; }
    .login .social-login .social-or span {
      display: inline-block;
      position: relative;
      top: -0.95em;
      text-transform: uppercase;
      padding: 5px 12px;
      background-color: #e0e0e0;
      color: #999999;
      border-left: 2em solid #f9f9f9;
      border-right: 2em solid #f9f9f9; }
  .login .account {
    display: flex; }
    .login .account form {
      display: flex;
      flex-direction: column;
      flex: 1; }
      .login .account form div {
        display: flex;
        flex-direction: column; }
      .login .account form label {
        padding: 0.5em 0;
        display: block; }
      .login .account form input {
        padding: 0.5em;
        flex: 1;
        margin-bottom: 1em;
        border: 1px solid #dddddd; }
      .login .account form button {
        align-self: flex-end;
        padding: 0.75em 1em;
        color: #ffffff;
        background-color: #5c4;
        outline: none;
        cursor: pointer;
        border: none; }
  .login .register a {
    color: #e43;
    text-decoration: none; }
  .login .register .register-actions {
    padding: 1em 0; }
    .login .register .register-actions div {
      padding: 0.25em 0; }
  .login .register .register-details {
    padding: 1em 0; }
    .login .register .register-details div {
      padding: 0.25em 0; }

.register {
  max-width: 26em;
  margin: 0 auto;
  color: #666666; }
  .register .register-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: #dddddd;
    height: 2px;
    font-weight: normal; }
    .register .register-title span {
      display: inline-block;
      position: relative;
      top: -0.95em;
      text-transform: uppercase;
      padding: 5px 12px;
      background-color: #e0e0e0;
      color: #999999;
      border-left: 2em solid #f9f9f9;
      border-right: 2em solid #f9f9f9; }
  .register .account {
    display: flex; }
    .register .account form {
      display: flex;
      flex-direction: column;
      flex: 1; }
      .register .account form div {
        display: flex;
        flex-direction: column; }
      .register .account form label {
        padding: 0.5em 0;
        display: block; }
      .register .account form input {
        padding: 0.5em;
        flex: 1;
        margin-bottom: 1em;
        border: 1px solid #dddddd; }
      .register .account form button {
        align-self: flex-end;
        padding: 0.75em 1em;
        color: #ffffff;
        background-color: #5c4;
        outline: none;
        cursor: pointer;
        border: none; }

.forgot-password {
  max-width: 26em;
  margin: 0 auto;
  color: #666666; }
  .forgot-password .forgot-password-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: #dddddd;
    height: 2px;
    font-weight: normal; }
    .forgot-password .forgot-password-title span {
      display: inline-block;
      position: relative;
      top: -0.95em;
      text-transform: uppercase;
      padding: 5px 12px;
      background-color: #e0e0e0;
      color: #999999;
      border-left: 2em solid #f9f9f9;
      border-right: 2em solid #f9f9f9; }
  .forgot-password .account {
    display: flex; }
    .forgot-password .account form {
      display: flex;
      flex-direction: column;
      flex: 1; }
      .forgot-password .account form div {
        display: flex;
        flex-direction: column; }
      .forgot-password .account form label {
        padding: 0.5em 0;
        display: block; }
      .forgot-password .account form input {
        padding: 0.5em;
        flex: 1;
        margin-bottom: 1em;
        border: 1px solid #dddddd; }
      .forgot-password .account form button {
        align-self: flex-end;
        padding: 0.75em 1em;
        color: #ffffff;
        background-color: #5c4;
        outline: none;
        cursor: pointer;
        border: none; }

.dashboard .status {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #e43;
  color: #ffffff; }
  .dashboard .status .status-title {
    flex: 1;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    padding: 0.28em 0; }
  .dashboard .status .status-actions {
    flex: 1;
    padding: 1em;
    text-align: center;
    margin-top: 0.5em; }
    .dashboard .status .status-actions a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.25em; }
    .dashboard .status .status-actions .status-action {
      background-color: #dc2512;
      padding: 0.75em 1em; }
      .dashboard .status .status-actions .status-action i {
        padding-right: 0.5em; }
      .dashboard .status .status-actions .status-action:hover, .dashboard .status .status-actions .status-action:focus {
        background-color: #C42110; }
.dashboard .checks .filters {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0.5em 1em; }
  .dashboard .checks .filters .search {
    flex: 1;
    display: flex;
    align-items: center;
    padding-bottom: 0.5em;
    color: #bbb; }
    .dashboard .checks .filters .search i {
      width: 1em;
      padding-right: 0.5em; }
    .dashboard .checks .filters .search input {
      flex: 1;
      border: none;
      background-color: transparent;
      padding: 0.5em;
      width: 100%; }
  .dashboard .checks .filters .sort {
    display: flex;
    align-items: center;
    color: #bbb; }
    .dashboard .checks .filters .sort i {
      width: 1em;
      padding-right: 1em; }
    .dashboard .checks .filters .sort select {
      flex: 1;
      border: none;
      background-color: transparent;
      padding: 0.5em; }
.dashboard .checks ul {
  border-width: 0 2px;
  border-style: solid;
  border-color: #ddd;
  padding: 0;
  margin: 0 1em;
  list-style-type: none; }
  .dashboard .checks ul .check {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 1em;
    display: flex;
    flex-direction: column; }
    .dashboard .checks ul .check .check-details {
      display: flex;
      flex: 1;
      align-items: center;
      padding-bottom: 0.5em; }
      .dashboard .checks ul .check .check-details .check-disable {
        margin-left: -0.75em; }
        .dashboard .checks ul .check .check-details .check-disable i {
          padding: 0.5em;
          font-size: 1.5em;
          color: #bbb;
          cursor: pointer;
          border-radius: 50%; }
          .dashboard .checks ul .check .check-details .check-disable i.fa-toggle-off:hover {
            color: #55CC44;
            background-color: #eef9ec; }
          .dashboard .checks ul .check .check-details .check-disable i.fa-toggle-on:hover {
            color: #e43;
            background-color: #FEECEB; }
      .dashboard .checks ul .check .check-details .url-details {
        display: flex;
        flex: 1;
        align-items: center;
        overflow: hidden; }
        .dashboard .checks ul .check .check-details .url-details .protocol {
          color: #bbbbbb; }
        .dashboard .checks ul .check .check-details .url-details .split {
          color: #bbbbbb; }
    .dashboard .checks ul .check .check-actions {
      display: flex;
      align-items: center; }
      .dashboard .checks ul .check .check-actions .check-status {
        flex: 1;
        color: white;
        text-transform: uppercase;
        font-weight: bold; }
        .dashboard .checks ul .check .check-actions .check-status i {
          padding-right: 0.5em; }
        .dashboard .checks ul .check .check-actions .check-status .check-status-disabled {
          color: #bbb; }
        .dashboard .checks ul .check .check-actions .check-status .check-status-up {
          color: #55CC44; }
        .dashboard .checks ul .check .check-actions .check-status .check-status-down {
          color: #e43; }
      .dashboard .checks ul .check .check-actions .actions {
        margin: -0.75em;
        padding-left: 1.25em; }
        .dashboard .checks ul .check .check-actions .actions button {
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;
          font-size: 1.5em;
          color: #bbb;
          border-radius: 50%;
          padding: 0.5em; }
          .dashboard .checks ul .check .check-actions .actions button:hover, .dashboard .checks ul .check .check-actions .actions button:focus {
            color: #555555;
            background-color: #eee; }
        .dashboard .checks ul .check .check-actions .actions .delete button:hover {
          color: #e43;
          background-color: #FEECEB; }
.dashboard .checks .check-create {
  margin: 0 1em;
  padding: 1em;
  background-color: white;
  border-width: 0 2px 3px 2px;
  border-style: solid;
  border-color: #ddd; }
  .dashboard .checks .check-create .check-details {
    display: flex;
    flex-direction: column; }
    .dashboard .checks .check-create .check-details .url-details {
      display: flex;
      flex: 1;
      align-items: center;
      padding-bottom: 0.5em; }
      .dashboard .checks .check-create .check-details .url-details i {
        padding-right: 0.5em; }
      .dashboard .checks .check-create .check-details .url-details select {
        border: none;
        background-color: transparent;
        direction: rtl; }
      .dashboard .checks .check-create .check-details .url-details .split {
        padding-right: 0.25em; }
      .dashboard .checks .check-create .check-details .url-details .url {
        display: flex;
        flex: 1;
        margin-left: -0.25em; }
        .dashboard .checks .check-create .check-details .url-details .url input {
          flex: 1;
          width: 100%;
          border: none;
          background-color: transparent;
          padding: 0.5em; }
    .dashboard .checks .check-create .check-details .check-settings {
      display: flex;
      flex: 1;
      flex-direction: column; }
      .dashboard .checks .check-create .check-details .check-settings .options {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-bottom: 0.5em; }
        .dashboard .checks .check-create .check-details .check-settings .options .alias {
          display: flex;
          flex: 1;
          align-items: center;
          padding-bottom: 0.5em; }
          .dashboard .checks .check-create .check-details .check-settings .options .alias i {
            padding-right: 0.5em; }
          .dashboard .checks .check-create .check-details .check-settings .options .alias input {
            flex: 1;
            border: none;
            background-color: transparent;
            padding: 0.5em;
            overflow: hidden; }
        .dashboard .checks .check-create .check-details .check-settings .options .interval {
          display: flex;
          align-items: center; }
          .dashboard .checks .check-create .check-details .check-settings .options .interval i {
            padding-right: 0.5em; }
          .dashboard .checks .check-create .check-details .check-settings .options .interval label {
            color: #bbb; }
          .dashboard .checks .check-create .check-details .check-settings .options .interval select {
            width: 100%;
            border: none;
            background-color: transparent;
            padding: 0.5em; }
      .dashboard .checks .check-create .check-details .check-settings .actions {
        margin: -0.5em -0.75em; }
        .dashboard .checks .check-create .check-details .check-settings .actions button {
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;
          font-size: 1.5em;
          color: #bbb;
          border-radius: 50%;
          padding: 0.5em; }
          .dashboard .checks .check-create .check-details .check-settings .actions button:hover, .dashboard .checks .check-create .check-details .check-settings .actions button:focus {
            color: #55CC44;
            background-color: #eef9ec; }

@media only screen and (min-width: 501px) {
  .dashboard .status {
    flex-direction: row; }
    .dashboard .status .status-title {
      text-align: left;
      padding: 0.28em 0; }
    .dashboard .status .status-actions {
      text-align: right;
      margin-top: 0;
      padding-right: 0; }
  .dashboard .checks .filters {
    flex-direction: row; }
    .dashboard .checks .filters .search {
      padding-bottom: 0; }
  .dashboard .checks ul .check {
    flex-direction: row;
    align-items: center; }
    .dashboard .checks ul .check .check-details {
      padding-bottom: 0; }
    .dashboard .checks ul .check .check-status {
      padding-bottom: 0; }
  .dashboard .checks .check-create .check-details .check-settings .options {
    flex-direction: row; }
    .dashboard .checks .check-create .check-details .check-settings .options .alias {
      padding-bottom: 0; } }
@media only screen and (min-width: 701px) {
  .dashboard .checks .check-create .check-details .check-settings {
    flex-direction: row; }
    .dashboard .checks .check-create .check-details .check-settings .options {
      padding-bottom: 0;
      padding-right: 1em; } }
@media only screen and (min-width: 1001px) {
  .dashboard .checks .check-create .check-details {
    flex-direction: row; }
    .dashboard .checks .check-create .check-details .url-details {
      padding-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
