.register {
  max-width: 26em;
  margin: 0 auto;
  color: #666666;

  .register-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: #dddddd;
    height: 2px;
    font-weight: normal;

    span {
      display: inline-block;
      position: relative;
      top: -0.95em;
      text-transform: uppercase;
      padding: 5px 12px;
      background-color: #e0e0e0;
      color: #999999;
      border-left: 2em solid #f9f9f9;
      border-right: 2em solid #f9f9f9;
    }
  }

  .account {
    display: flex;

    form {
      display: flex;
      flex-direction: column;
      flex: 1;

      div {
        display: flex;
        flex-direction: column;
      }

      label {
        padding: 0.5em 0;
        display: block;
      }

      input {
        padding: 0.5em;
        flex: 1;
        margin-bottom: 1em;
        border: 1px solid #dddddd;
      }

      button {
        align-self: flex-end;
        padding: 0.75em 1em;
        color: #ffffff;
        background-color: #5c4;
        outline: none;
        cursor: pointer;
        border: none;
      }
    }
  }
}