.status
  text-align: center
  border-bottom: 1px $border-color solid

  .button
    margin-bottom: 1em

.filters
  padding: 0 2em
  display: flex
  border-bottom: 1px $border-color solid

  .icon
    font-size: 1.5em

  .search
    display: flex
    align-items: center
    flex: 1
    padding: 0.75em 0

    input
      font-size: 1em
      padding: 0.5em 1em
      border: none
      min-width: 1em
      flex: 1

      &::placeholder
        color: $placeholder-color

  .sort
    display: flex
    align-items: center

    select
      font-size: 1em
      padding: 0.5em 1em
      border: none
      min-width: 1em
      background-color: transparent

.checks
  ul
    list-style-type: none
    padding: 0
    margin: 0

    li
      padding: 1em 2em
      border-bottom: 1px $border-color solid
      display: flex
      flex-direction: column

      @media only screen and (min-width: $large-breakpoint)
        flex-direction: row

      &.down
        background-color: #fff8f8
      &.disabled
        background-color: #f8f8f8

      .check-overview
        display: flex
        flex-direction: column

        @media only screen and (min-width: $medium-breakpoint)
          flex-direction: row

        @media only screen and (min-width: $large-breakpoint)
          flex: 3

      .check-details
        display: flex
        align-items: center

        @media only screen and (min-width: $medium-breakpoint)
          flex: 1

        .icon
          font-size: 1.5em

      .url-details
        display: flex
        align-items: center
        flex: 1

      .check-status
        text-transform: uppercase
        font-size: 0.75em

        .icon
          padding-left: 0.5em

      .check-uptime
        display: flex
        align-items: center
        padding-top: 1em

        @media only screen and (min-width: $medium-breakpoint)
          flex: 1
          padding-top: 0
          padding-left: 2em

        .name
          text-transform: uppercase
          font-size: 0.9em
          color: $link-color

        .uptime-chart
          display: flex
          flex: 1
          margin: 0 1em

          .up
            height: 2px
            background-color: $primary-color
            flex: 1
          .down
            height: 2px
            background-color: $google-color
            flex: 1
          .unknown
            height: 2px
            background-color: $link-color
            flex: 1

        .uptime-percent
          width: 2em
          text-transform: uppercase
          font-size: 0.9em
          color: $link-color

      .check-settings
        display: flex
        padding-top: 1em

        @media only screen and (min-width: $large-breakpoint)
          flex: 1
          padding-top: 0
          padding-left: 2em


      .check-traits
        display: flex
        align-items: center
        flex: 1

        .icon
          padding-right: 0.5em
          font-size: 1.5em

      .check-actions
        display: flex
        align-items: center

        .delete
          padding-left: 1em

        .button
          margin-right: -0.75em
          margin-top: -0.75em
          margin-bottom: -0.75em
          color: $link-color
          background-color: transparent

          &:hover
            color: $white-color
            background-color: $google-color

.check-create
  padding: 0 2em
  border-bottom: 1px $border-color solid

  form
    margin: 0
    padding: 0.5em 0
    display: flex
    flex-direction: column
    @media only screen and (min-width: $large-breakpoint)
      flex-direction: row

    div
      padding: 0
      display: flex

  .icon
    font-size: 1.5em

  input
    font-size: 1em
    padding: 0.5em 1em
    border: none
    min-width: 1em

    &::placeholder
      color: $placeholder-color

  select
    font-size: 1em
    padding: 0.5em 1em
    border: none
    min-width: 1em
    background-color: transparent

  .url-details
    display: flex
    flex-direction: row
    align-items: center
    padding: 0.75em 0

    @media only screen and (min-width: $large-breakpoint)
      flex: 2

    select
      direction: rtl
      padding: 0.5em 0
      margin-left: 1em

    input
      flex: 1
      padding: 0.5em 1em 0.5em 0.25em

  .options
    flex-direction: column

    @media only screen and (min-width: $medium-breakpoint)
      flex-direction: row

    @media only screen and (min-width: $large-breakpoint)
      flex: 3

  .alias
    display: flex
    flex-direction: row
    align-items: center
    padding: 0.75em 0

    input
      flex: 1

    @media only screen and (min-width: $medium-breakpoint)
      flex: 1

  .check-settings
    display: flex
    flex-direction: row
    align-items: center

    @media only screen and (min-width: $medium-breakpoint)
      flex: 1

    .interval
      flex-direction: row
      align-items: center

    .actions
      flex: 1
      align-items: flex-end

      .button
        margin-right: -0.75em
        color: $link-color
        background-color: transparent

        &:hover
          color: $white-color
          background-color: $primary-color





