extends layout

prepend content
    header
        .navbar
            .logo
                a(href='/')
                    i.icon-urlcheck
                    | urlcheck.io
            .user
                span.icon.icon-person
                a(href='/login.html')
                    | Gerard Downes
                |  |
                a(href='/login.html')
                    | Sign out
                span.icon.icon-logout
    main
        .dashboard
            section.status.hidden
                .title create your first check
                a(href='/dashboard.html').button.large.hidden
                    span.icon.icon-login
                    | buy credits
            section.checks
                .filters
                    .search
                        span.icon.icon-search
                        input(type='search', size=1 placeholder='Search 2 checks')
                    .sort
                        span.icon.icon-sort
                        select#order(name='order')
                            option(selected='selected', value='alias') alias
                            option(value='interval') interval
                            option(value='status') status
                            option(value='type') prtocol
                            option(value='url') url
                ul
                    li.check.up
                        .check-details
                            .url-details
                                .protocol http
                                .split ://
                                .url www.google.com
                            span.icon.icon-navigation-circle-up
                    li.check.down
                        .check-details
                            .url-details
                                .protocol http
                                .split ://
                                .url www.facebook.com
                            span.icon.icon-navigation-circle-down
                    li.check.disabled
                        .check-details
                            .url-details
                                .protocol http
                                .split ://
                                .url www.facebook.com
                            span.icon.icon-report-problem-circle
                .check-create
                    form
                        .url-details
                            span.icon.icon-add
                            select(name='protocol', title='protocol')
                                option(selected='selected', value='http') http
                                option(value='https') https
                            | ://
                            input(name='url', type='url', placeholder='www.website.com')
                        .options
                            .alias
                                span.icon.icon-bookmark
                                input(type='text', placeholder='alias(optional)')
                            .check-settings
                                .interval
                                    span.icon.icon-expand-horizontal
                                    select(name='interval', title='interval')
                                        option(value='1') 1 min
                                        option(value='2') 2 min
                                        option(value='5') 5 min
                                        option(value='10') 10 min
                                .actions
                                    .save
                                        a(href='/dashboard.html').button.round
                                            span.icon.icon-download