extends ../layout

prepend content
    header
        .title
            a(href='/')
                i.icon-urlcheck
                span  urlcheck.
                span.header-color io
        .links
            .link
                | Signed in as
                a(href='/dashboard')
                    | Gerard Downes
                    i.fa.fa-google
            .link
                a(href='/dashboard')
                    | Sign out
                    i.fa.fa-sign-out
    main
        .dashboard
            section.status
                .status-title Out of credit
                .status-actions
                    a(href='/credit')
                        span.status-action
                            i.fa.fa-shopping-cart
                            | Buy credits
            section.checks
                .filters
                    .search
                        i.fa.fa-search
                        input(type='search', placeholder='Search 2 checks')
                    .sort
                        i.fa.fa-sort
                        label Order:
                        select#order(name='order')
                            option(selected='selected', value='alias') alias
                            option(value='interval') interval
                            option(value='status') status
                            option(value='type') prtocol
                            option(value='url') url
                ul
                    li.check.up
                        .check-details
                            .check-disable
                                i.fa.fa-toggle-on
                            .url-details
                                .protocol http
                                .split ://
                                .url www.google.com
                        .check-actions
                            .check-status
                                span.check-status-up
                                    i.fa.fa-arrow-up
                                    | up
                            .actions
                                .delete
                                    button(type='submit')
                                        i.fa.fa-trash
                    li.check.down
                        .check-details
                            .check-disable
                                i.fa.fa-toggle-on
                            .url-details
                                .protocol http
                                .split ://
                                .url www.facebook.com
                        .check-actions
                            .check-status
                                span.check-status-down
                                    i.fa.fa-arrow-down
                                    | down
                            .actions
                                .delete
                                    button(type='submit')
                                        i.fa.fa-trash
                    li.check.disabled
                        .check-details
                            .check-disable
                                i.fa.fa-toggle-off
                            .url-details
                                .protocol http
                                .split ://
                                .url www.facebook.com
                        .check-actions
                            .check-status
                                span.check-status-disabled
                                    | disabled
                            .actions
                                .delete
                                    button(type='submit')
                                        i.fa.fa-trash
                .check-create
                    form
                        .check-details
                            .url-details
                                i.fa.fa-plus
                                .protocol
                                    select(name='protocol', title='protocol')
                                        option(selected='selected', value='http') http
                                        option(value='https') https
                                .split ://
                                .url
                                    input(name='url', type='url', placeholder='www.website.com')
                            .check-settings
                                .options
                                    .alias
                                        i.fa.fa-bookmark-o
                                        input(type='text', placeholder='alias(optional)')
                                    .interval
                                        i.fa.fa-arrows-h
                                        label Interval:
                                        select(name='interval', title='interval')
                                            option(value='1') 1 minute
                                            option(value='2') 2 minute
                                            option(value='5') 5 minute
                                            option(value='10') 10 minute
                                .actions
                                    .save
                                        button(type='submit')
                                            i.fa.fa-save