extends layout

prepend content
    header
        .navbar
            .logo
                a(href='/')
                    i.icon-urlcheck
                    | urlcheck.io
            .actions
                a(href='/login.html').button
                    span.icon.icon-login
                    | sign in
    main
        .login
            .title forgot password
            section.account
                form(id='forgot-password')
                    .error.hidden
                    div
                        label Email address
                        input(id='email', type='email', name='email', placeholder='email' required)
                    span
                        button(type='submit', form='forgot-password').button.large
                            span.icon.icon-person-add
                            | reset