extends layout

prepend content
    header
        .navbar
            .logo
                a(href='/')
                    i.icon-urlcheck
                    | urlcheck.io
            .actions
                a(href='/login.html').button
                    span.icon.icon-login
                    | sign in
    main
        .login
            .title reset password
            section.account
                form(id='reset-password')
                    .error.hidden
                    div
                        label Email address
                        input(id='email', type='email', name='email', placeholder='email' required)
                    div
                        label Verification code
                            a(href='/forgot-password.html').right Resend?
                        input(id='code', type='text', name='code', placeholder="verification code" required)
                    div
                        label Password
                        input(id='password', type='password', name='password', placeholder='password' pattern='((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,})' title='Password must be eight characters including one uppercase letter, one number and alphanumeric characters' required)
                    div
                        label Confirm password
                        input(id='confirm-password', type='password', name='confirm-password', placeholder="confirm password" required)
                    span
                        button(type='submit', form='reset-password').button.large
                            span.icon.icon-person-add
                            | reset